body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e2a5e;
  margin: 0;
  padding: 20px 0;
  color: #fff;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

#game-container {
  width: 800px;
  height: 200px;
  background-color: #ffffff;
  border: 2px solid #fff;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

#character {
  width: 50px;
  height: 50px;
  background-image: url('./images/runner-start.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 50px;
  transition: transform 0.3s ease-out;
}

#character.jumping {
  transform: translateY(-100px);
}

.obstacle {
  width: 20px;
  height: 40px;
  background-color: #7c93c3;
  position: absolute;
  bottom: 0;
}

#game-controls,
#game-stats {
  margin-top: 10px;
}

#game-stats {
  color: #000;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 18px;
}

#game-controls {
  display: flex;
  align-items: center;
}

.big-screen {
  display: block;
  margin: 0;
  font-size: 18px;
}

.small-screen {
  display: none;
  font-size: 18px;
}

/* Start button styles */
#start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#start-button:hover {
  background-color: #45a049;
}

#start-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

footer {
  margin-top: 20px;
  color: #c1c1c1;
}


@media (max-width: 800px) {
  body {
    justify-content: center;
    height: 100vw;
  }
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #character {
    width: 60px;
    height: 60px;
  }

  #game-container {
    width: 99%;
    margin: 10px 0;
    border-radius: 0;
  }

  #game-controls {
    flex-direction: column;
  }

  .big-screen {
    display: none;
  }

  .small-screen {
    margin-bottom: 30px;
    display: block;
  }
}